# build
.astro/
/dist/

# deps
node_modules/

# logs
npm-debug.log*

# testing
coverage/
project-hierarchy.txt

# editor config
.vscode/

# deployment
.vercel

# environment variables
.env
.vercel

# next
beta/