# dependencies
node_modules/

# production
build/
dist/

# artifacts
.next/
src/generated/

# misc
.DS_Store
*.pem
.npmrc

# debug
npm-debug.log*
pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.zed/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# testing
project-hierarchy.txt
coverage/
*.tgz

# vercel
.vercel/

# other
.vercel
.env*.local
