@import "/node_modules/yummacss/dist/yumma-core.min.css";
@import '@fontsource-variable/plus-jakarta-sans';

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #3f0f27;
    --sl-color-accent: #bd0074;
    --sl-color-accent-high: #f3b3cd;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;

    --purple-hsl: 310, 50%, 50%;
    --overlay-blurple: hsla(var(--purple-hsl), 0.2);

    --yma-bg-dark: #24272f;
    --yma-bg-darker: #17181c;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #f8c7da;
    --sl-color-accent: #c00076;
    --sl-color-accent-high: #5c0a37;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;

    --purple-hsl: 310, 85%, 65%;

    --yma-bg-light: #f5f6f8;
    --yma-bg-lighter: #ffffff;
}

body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

strong {
    font-weight: 600;
}

pre {
    background-color: #1f212a !important;
}

[data-has-hero] .page {
    background:
        linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
        radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
        radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

[data-has-hero] .hero>img {
    filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.starlight-showcases-media-infos {
    background-color: var(--sl-color-black);
}

@media (prefers-color-scheme: dark) {
    .starlight-showcases-media-infos {
        background-color: var(--sl-color-black);
    }
}