*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  line-height: 1.5;
}

canvas, img, picture, svg, video {
  max-width: 100%;
  display: block;
}

button, input, optgroup, select, textarea {
  background-color: transparent;
  padding: .5rem;
  font-family: inherit;
}

button:not([class]), input:not([class]), optgroup:not([class]), select:not([class]), textarea:not([class]) {
  border: 1px solid #bfc2c7;
}

:is(a, button, input, select, summary, textarea):focus {
  outline: 2px solid transparent;
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  cursor: pointer;
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-size: 1rem;
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 80%;
  line-height: 1.4;
}

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  padding: 0;
  list-style: none;
}

th {
  font-size: 1rem;
  font-weight: 600;
}

hr {
  border-top: 1px solid #bfc2c7;
  height: 0;
  margin: 1em 0;
}

details {
  display: block;
}

summary {
  display: list-item;
}


.a-none {
  appearance: none;
}

.a\:\:c-indigo:after {
  color: #6366f1;
}

.a\:\:p-a:after {
  position: absolute;
}

.a\:bg-indigo-7:active {
  background-color: #5558cf;
}

.a\:bg-indigo-9:active {
  background-color: #393b8c;
}

.a\:bg-silver-2:active {
  background-color: #e1e3e7;
}

.ac-b {
  align-content: baseline;
}

.ac-orange {
  accent-color: #ff6b35;
}

.ac-red {
  accent-color: #e63946;
}

.ac-st {
  align-content: stretch;
}

.ac-yellow {
  accent-color: #ffb81c;
}

.ai-b {
  align-items: baseline;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.ai-st {
  align-items: stretch;
}

.ar-1\/1 {
  aspect-ratio: 1;
}

.as-st {
  align-self: stretch;
}

.b-0 {
  bottom: 0;
}

.b-1 {
  bottom: .25rem;
}

.b-2 {
  bottom: .5rem;
}

.b-4 {
  bottom: 1rem;
}

.b\:\:bg-indigo\/10:before {
  background-color: #6366f11a;
}

.b\:\:i-0:before {
  inset: 0;
}

.b\:\:p-a:before {
  position: absolute;
}

.bblr-md {
  border-bottom-left-radius: 0.375rem;
}

.bbr-sm {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.bbrr-md {
  border-bottom-right-radius: 0.375rem;
}

.bbw-1 {
  border-bottom-width: 1px;
}

.bc-c {
  border-collapse: collapse;
}

.bc-clay {
  border-color: #232741;
}

.bc-green-2 {
  border-color: #b4f3e3;
}

.bc-green-7 {
  border-color: #05b88a;
}

.bc-highlight\/50 {
  border-color: #9aa5ef80;
}

.bc-indigo {
  border-color: #6366f1;
}

.bc-indigo-2 {
  border-color: #d0d1fb;
}

.bc-indigo-2\/50 {
  border-color: #d0d1fb80;
}

.bc-indigo-3 {
  border-color: #babcf9;
}

.bc-indigo-6 {
  border-color: #797bf3;
}

.bc-indigo-7 {
  border-color: #5558cf;
}

.bc-mint-2 {
  border-color: #b7ead9;
}

.bc-navy {
  border-color: #31365e;
}

.bc-orange-2 {
  border-color: #ffd3c2;
}

.bc-red-2 {
  border-color: #f8c4c8;
}

.bc-red-4 {
  border-color: #f18c94;
}

.bc-red-7 {
  border-color: #c6313c;
}

.bc-silver {
  border-color: #9ca3af;
}

.bc-silver-2 {
  border-color: #e1e3e7;
}

.bc-silver-3 {
  border-color: #d3d7dc;
}

.bc-silver-4 {
  border-color: #c6cad1;
}

.bc-sky-2 {
  border-color: #c3ebfd;
}

.bc-slate-2 {
  border-color: #d1d5dc;
}

.bc-slate-3 {
  border-color: #bbc2cc;
}

.bc-transparent {
  border-color: transparent;
}

.bc-white {
  border-color: #ffffff;
}

.bc-white\/10 {
  border-color: #ffffff1a;
}

.bc-white\/20 {
  border-color: #ffffff33;
}

.bc-yellow-2 {
  border-color: #ffeabb;
}

.bf-b-md {
  backdrop-filter: blur(16px);
}

.bf-b-sm {
  backdrop-filter: blur(8px);
}

.bf-b-xs {
  backdrop-filter: blur(4px);
}

.bg-black {
  background-color: #000000;
}

.bg-black\/20 {
  background-color: #00000033;
}

.bg-black\/30 {
  background-color: #0000004d;
}

.bg-black\/50 {
  background-color: #00000080;
}

.bg-black\/60 {
  background-color: #00000099;
}

.bg-blue {
  background-color: #2563eb;
}

.bg-blue-4 {
  background-color: #81a5f3;
}

.bg-blue-5 {
  background-color: #628ff1;
}

.bg-charcoal {
  background-color: #21243f;
}

.bg-clay {
  background-color: #232741;
}

.bg-coral-4 {
  background-color: #ffabbf;
}

.bg-cyan-1 {
  background-color: #d7f3f8;
}

.bg-cyan-4 {
  background-color: #6fd5e6;
}

.bg-diff-add\/10 {
  background-color: #a8e1ad1a;
}

.bg-diff-remove\/10 {
  background-color: #e1a8a81a;
}

.bg-green {
  background-color: #06d6a0;
}

.bg-green-1 {
  background-color: #d7f8f0;
}

.bg-green-3 {
  background-color: #91edd5;
}

.bg-green-5 {
  background-color: #4ce1bb;
}

.bg-green-6 {
  background-color: #29dcad;
}

.bg-green-7 {
  background-color: #05b88a;
}

.bg-highlight\/10 {
  background-color: #9aa5ef1a;
}

.bg-indigo {
  background-color: #6366f1;
}

.bg-indigo-1 {
  background-color: #e6e7fd;
}

.bg-indigo-3\/80 {
  background-color: #babcf9cc;
}

.bg-indigo-4 {
  background-color: #a5a6f7;
}

.bg-indigo-6\/25 {
  background-color: #797bf340;
}

.bg-indigo-9\/40 {
  background-color: #393b8c66;
}

.bg-indigo\/10 {
  background-color: #6366f11a;
}

.bg-indigo\/20 {
  background-color: #6366f133;
}

.bg-indigo\/25 {
  background-color: #6366f140;
}

.bg-indigo\/5 {
  background-color: #6366f10d;
}

.bg-indigo\/50 {
  background-color: #6366f180;
}

.bg-indigo\/60 {
  background-color: #6366f199;
}

.bg-lime-4 {
  background-color: #b8e178;
}

.bg-magenta-1 {
  background-color: #f9e1fc;
}

.bg-magenta-4 {
  background-color: #e994f6;
}

.bg-midnight {
  background-color: #1a1d2e;
}

.bg-mint {
  background-color: #10b981;
}

.bg-mint-1 {
  background-color: #d9f4eb;
}

.bg-mint-3 {
  background-color: #96e0c8;
}

.bg-mirage {
  background-color: #151724;
}

.bg-orange {
  background-color: #ff6b35;
}

.bg-orange-1 {
  background-color: #ffe7df;
}

.bg-orange-3 {
  background-color: #ffbea6;
}

.bg-periwinkle {
  background-color: #bec6f2;
}

.bg-red {
  background-color: #e63946;
}

.bg-red-1 {
  background-color: #fbdfe1;
}

.bg-red-1\/50 {
  background-color: #fbdfe180;
}

.bg-red-3 {
  background-color: #f4a8ae;
}

.bg-red-4 {
  background-color: #f18c94;
}

.bg-red-5 {
  background-color: #ed707a;
}

.bg-red-6 {
  background-color: #ea5560;
}

.bg-red-7 {
  background-color: #c6313c;
}

.bg-red\/50 {
  background-color: #e6394680;
}

.bg-silver-1 {
  background-color: #eff0f2;
}

.bg-silver-1\/50 {
  background-color: #eff0f280;
}

.bg-silver-2 {
  background-color: #e1e3e7;
}

.bg-silver-3 {
  background-color: #d3d7dc;
}

.bg-sky {
  background-color: #38bdf8;
}

.bg-sky-1 {
  background-color: #dff4fe;
}

.bg-slate {
  background-color: #64748b;
}

.bg-slate-1 {
  background-color: #e6e9ec;
}

.bg-slate-12 {
  background-color: #101316;
}

.bg-slate-4 {
  background-color: #a5aebc;
}

.bg-transparent {
  background-color: transparent;
}

.bg-violet-3 {
  background-color: #ccb7fb;
}

.bg-violet-4 {
  background-color: #bca0fa;
}

.bg-white {
  background-color: #ffffff;
}

.bg-white\/10 {
  background-color: #ffffff1a;
}

.bg-white\/5 {
  background-color: #ffffff0d;
}

.bg-yellow {
  background-color: #ffb81c;
}

.bg-yellow-1 {
  background-color: #fff4db;
}

.bg-zinc-8 {
  background-color: #3b3b42;
}

.bg-zinc-9 {
  background-color: #303035;
}

.blc-indigo-5 {
  border-left-color: #8f91f5;
}

.blc-silver-3 {
  border-left-color: #d3d7dc;
}

.blr-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.blw-0 {
  border-left-width: 0;
}

.blw-1 {
  border-left-width: 1px;
}

.blw-2 {
  border-left-width: 2px;
}

.br-0 {
  border-radius: 0;
}

.br-full {
  border-radius: 100%;
}

.br-lg {
  border-radius: 0.5rem;
}

.br-md {
  border-radius: 0.375rem;
}

.br-pill {
  border-radius: 9999px;
}

.br-sm {
  border-radius: 0.25rem;
}

.br-xl {
  border-radius: 0.75rem;
}

.br-xs {
  border-radius: 0.125rem;
}

.brr-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.brw-0 {
  border-right-width: 0;
}

.brw-1 {
  border-right-width: 1px;
}

.bs-d {
  border-style: dashed;
}

.bs-i-sm {
  box-shadow: inset 0 2px 4px #0000000f;
}

.bs-o-lg {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.bs-o-md {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}

.bs-o-sm {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}

.bs-o-xs {
  box-shadow: 0 1px 2px #0000000d;
}

.bs-px {
  border-spacing: 1px;
}

.bs-s {
  border-style: solid;
}

.btlr-md {
  border-top-left-radius: 0.375rem;
}

.btr-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.btrr-md {
  border-top-right-radius: 0.375rem;
}

.btw-0 {
  border-top-width: 0;
}

.btw-1 {
  border-top-width: 1px;
}

.bw-0 {
  border-width: 0;
}

.bw-1 {
  border-width: 1px;
}

.bw-2 {
  border-width: 2px;
}

.bxw-0 {
  border-inline-width: 0;
}

.bxw-1 {
  border-inline-width: 1px;
}

.byw-2 {
  border-block-width: 2px;
}

.c-black {
  color: #000000;
}

.c-blue {
  color: #2563eb;
}

.c-blue-5 {
  color: #628ff1;
}

.c-cornflower {
  color: #9aa6ef;
}

.c-cr {
  cursor: col-resize;
}

.c-cyan {
  color: #06b6d4;
}

.c-d {
  cursor: default;
}

.c-er {
  cursor: ew-resize;
}

.c-green {
  color: #06d6a0;
}

.c-green-5 {
  color: #4ce1bb;
}

.c-green-6 {
  color: #29dcad;
}

.c-green-7 {
  color: #05b88a;
}

.c-indigo {
  color: #6366f1;
}

.c-indigo-5 {
  color: #8f91f5;
}

.c-indigo-6 {
  color: #797bf3;
}

.c-indigo-7 {
  color: #5558cf;
}

.c-indigo-9 {
  color: #393b8c;
}

.c-magenta {
  color: #d946ef;
}

.c-mauve {
  color: #dda2f6;
}

.c-mint-6 {
  color: #31c393;
}

.c-mint-7 {
  color: #0e9f6f;
}

.c-na {
  cursor: not-allowed;
}

.c-ner {
  cursor: ne-resize;
}

.c-neswr {
  cursor: nesw-resize;
}

.c-none {
  cursor: none;
}

.c-nwr {
  cursor: nw-resize;
}

.c-nwser {
  cursor: nwse-resize;
}

.c-orange-7 {
  color: #db5c2e;
}

.c-p {
  cursor: pointer;
}

.c-periwinkle {
  color: #bec6f2;
}

.c-pr {
  cursor: progress;
}

.c-red {
  color: #e63946;
}

.c-red-4 {
  color: #f18c94;
}

.c-red-7 {
  color: #c6313c;
}

.c-rs {
  cursor: row-resize;
}

.c-ser {
  cursor: se-resize;
}

.c-silver-10 {
  color: #45484d;
}

.c-silver-8 {
  color: #70757e;
}

.c-silver-9 {
  color: #5a5f66;
}

.c-sky-6 {
  color: #54c6f9;
}

.c-sky-7 {
  color: #30a3d5;
}

.c-slate {
  color: #64748b;
}

.c-slate-10 {
  color: #2c333d;
}

.c-slate-12 {
  color: #101316;
}

.c-slate-4 {
  color: #a5aebc;
}

.c-slate-4\/50 {
  color: #a5aebc80;
}

.c-slate-5 {
  color: #8f9bab;
}

.c-slate-6 {
  color: #7a879b;
}

.c-slate-7 {
  color: #566478;
}

.c-slate-8 {
  color: #485464;
}

.c-slate-9 {
  color: #3a4351;
}

.c-sr {
  cursor: s-resize;
}

.c-swr {
  cursor: sw-resize;
}

.c-transparent {
  color: transparent;
}

.c-white {
  color: #ffffff;
}

.c-white\/30 {
  color: #ffffff4d;
}

.c-white\/40 {
  color: #ffffff66;
}

.c-white\/50 {
  color: #ffffff80;
}

.c-white\/60 {
  color: #ffffff99;
}

.c-white\/70 {
  color: #ffffffb3;
}

.c-white\/80 {
  color: #ffffffcc;
}

.c-wr {
  cursor: w-resize;
}

.c-yellow {
  color: #ffb81c;
}

.c-yellow-7 {
  color: #db9e18;
}

.c-zi {
  cursor: zoom-in;
}

.c-zo {
  cursor: zoom-out;
}

.c\:bg-indigo-4:checked {
  background-color: #a5a6f7;
}

.cc-slate-7 {
  caret-color: #566478;
}

.cg-1 {
  column-gap: .25rem;
}

.cg-8 {
  column-gap: 2rem;
}

.ct-is {
  container-type: inline-size;
}

.ct-s {
  container-type: size;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-fr {
  display: flow-root;
}

.d-g {
  display: grid;
}

.d-if {
  display: inline-flex;
}

.d-none {
  display: none;
}

.d\:bg-silver-1:disabled {
  background-color: #eff0f2;
}

.d\:bg-silver-4:disabled {
  background-color: #c6cad1;
}

.d\:c-silver-8:disabled {
  color: #70757e;
}

.d\:c-silver-9:disabled {
  color: #5a5f66;
}

.f-1 {
  flex: 1;
}

.f-auto {
  flex: auto;
}

.f-current {
  fill: currentColor;
}

.f-none {
  flex: none;
}

.f\:oc-indigo-4:focus {
  outline-color: #a5a6f7;
}

.f\:oc-indigo-5:focus {
  outline-color: #8f91f5;
}

.f\:oo-2:focus {
  outline-offset: 2px;
}

.f\:os-s:focus {
  outline-style: solid;
}

.f\:ow-2:focus {
  outline-width: 2px;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.ff-d {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.ff-m {
  font-family: ui-monospace, Cascadia Code, Source Code Pro, Menlo, Roboto Mono, Ubuntu Mono, Consolas, Liberation Mono, Courier New, monospace;
}

.ff-s {
  font-family: Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif;
}

.fg-1 {
  flex-grow: 1;
}

.fgr-90 {
  filter: grayscale(90%);
}

.fs-0 {
  flex-shrink: 0;
}

.fs-4xl {
  font-size: 2.25rem;
}

.fs-5xl {
  font-size: 3rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fv\:bg-indigo-1:focus-visible {
  background-color: #e6e7fd;
}

.fv\:bg-indigo-8:focus-visible {
  background-color: #4749ae;
}

.fv\:oc-green-6:focus-visible {
  outline-color: #29dcad;
}

.fv\:oc-indigo:focus-visible {
  outline-color: #6366f1;
}

.fv\:oc-indigo-2:focus-visible {
  outline-color: #d0d1fb;
}

.fv\:oc-indigo-4:focus-visible {
  outline-color: #a5a6f7;
}

.fv\:oc-indigo-6:focus-visible {
  outline-color: #797bf3;
}

.fv\:oc-red-6:focus-visible {
  outline-color: #ea5560;
}

.fv\:oc-white:focus-visible {
  outline-color: #ffffff;
}

.fv\:oc-white\/50:focus-visible {
  outline-color: #ffffff80;
}

.fv\:oo--1:focus-visible {
  outline-offset: -1px;
}

.fv\:oo-1:focus-visible {
  outline-offset: 1px;
}

.fv\:oo-2:focus-visible {
  outline-offset: 2px;
}

.fv\:ow-2:focus-visible {
  outline-width: 2px;
}

.fv\:td-u:focus-visible {
  text-decoration: underline;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-w {
  flex-wrap: wrap;
}

.fw\:bc-indigo:focus-within {
  border-color: #6366f1;
}

.fw\:oc-indigo-6:focus-within {
  outline-color: #797bf3;
}

.fw\:oo-2:focus-within {
  outline-offset: 2px;
}

.fw\:os-s:focus-within {
  outline-style: solid;
}

.fw\:ow-2:focus-within {
  outline-width: 2px;
}

.g-0 {
  gap: 0;
}

.g-1 {
  gap: .25rem;
}

.g-12 {
  gap: 3rem;
}

.g-2 {
  gap: .5rem;
}

.g-3 {
  gap: .75rem;
}

.g-4 {
  gap: 1rem;
}

.g-6 {
  gap: 1.5rem;
}

.g-8 {
  gap: 2rem;
}

.g-px {
  gap: 1px;
}

.gtc-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gtc-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gtc-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gtc-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.h-10 {
  height: 2.5rem;
}

.h-100 {
  height: 25rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-18 {
  height: 4.5rem;
}

.h-2 {
  height: .5rem;
}

.h-24 {
  height: 6rem;
}

.h-3 {
  height: .75rem;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-40 {
  height: 10rem;
}

.h-48 {
  height: 12rem;
}

.h-5 {
  height: 1.25rem;
}

.h-50 {
  height: 12.5rem;
}

.h-56 {
  height: 14rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-70 {
  height: 17.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-auto {
  height: auto;
}

.h-dvh {
  height: 100dvh;
}

.h-fc {
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-s {
  height: stretch;
}

.h-sm {
  height: 40rem;
}

.h-vh {
  height: 100vh;
}

.h\:bg-blue:hover {
  background-color: #2563eb;
}

.h\:bg-blue-6:hover {
  background-color: #4479ee;
}

.h\:bg-green-8:hover {
  background-color: #049a73;
}

.h\:bg-indigo:hover {
  background-color: #6366f1;
}

.h\:bg-indigo-1:hover {
  background-color: #e6e7fd;
}

.h\:bg-indigo-2:hover {
  background-color: #d0d1fb;
}

.h\:bg-indigo-6\/50:hover {
  background-color: #797bf380;
}

.h\:bg-indigo-7:hover {
  background-color: #5558cf;
}

.h\:bg-indigo-8:hover {
  background-color: #4749ae;
}

.h\:bg-indigo\/25:hover {
  background-color: #6366f140;
}

.h\:bg-red:hover {
  background-color: #e63946;
}

.h\:bg-red-1:hover {
  background-color: #fbdfe1;
}

.h\:bg-red-8:hover {
  background-color: #a62932;
}

.h\:bg-red\/50:hover {
  background-color: #e6394680;
}

.h\:bg-silver-1:hover {
  background-color: #eff0f2;
}

.h\:bg-silver-1\/50:hover {
  background-color: #eff0f280;
}

.h\:bg-silver-2:hover {
  background-color: #e1e3e7;
}

.h\:bg-slate-7:hover {
  background-color: #566478;
}

.h\:bg-white\/10:hover {
  background-color: #ffffff1a;
}

.h\:bg-zinc-7:hover {
  background-color: #47474e;
}

.h\:c-indigo-8:hover {
  color: #4749ae;
}

.h\:c-slate-10:hover {
  color: #2c333d;
}

.h\:c-slate-12:hover {
  color: #101316;
}

.h\:c-white:hover {
  color: #ffffff;
}

.h\:c-white\/90:hover {
  color: #ffffffe6;
}

.h\:h-32:hover {
  height: 8rem;
}

.h\:h-64:hover {
  height: 16rem;
}

.h\:td-u:hover {
  text-decoration: underline;
}

.h\:w-32:hover {
  width: 8rem;
}

.h\:w-64:hover {
  width: 16rem;
}

.i-0 {
  inset: 0;
}

.i-100 {
  inset: 25rem;
}

.i-2 {
  inset: .5rem;
}

.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-n {
  justify-content: normal;
}

.jc-sb {
  justify-content: space-between;
}

.jc-st {
  justify-content: stretch;
}

.l--3 {
  left: -.75rem;
}

.l--4 {
  left: -1rem;
}

.l-0 {
  left: 0;
}

.l-3 {
  left: .75rem;
}

.l-4 {
  left: 1rem;
}

.l-auto {
  left: auto;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.25;
}

.lh-3 {
  line-height: 1.375;
}

.lh-4 {
  line-height: 1.5;
}

.lh-5 {
  line-height: 1.625;
}

.lh-6 {
  line-height: 2;
}

.ls--1 {
  letter-spacing: .05em;
}

.ls-1 {
  letter-spacing: -.05em;
}

.ls-2 {
  letter-spacing: -.025em;
}

.ls-3 {
  letter-spacing: .025em;
}

.ls-4 {
  letter-spacing: .05em;
}

.lst-d {
  list-style-type: disc;
}

.m-0 {
  margin: 0;
}

.m-px {
  margin: 1px;
}

.max-h-52 {
  max-height: 13rem;
}

.max-h-56 {
  max-height: 14rem;
}

.max-h-72 {
  max-height: 18rem;
}

.max-h-fc {
  max-height: fit-content;
}

.max-w-64 {
  max-width: 16rem;
}

.max-w-96 {
  max-width: 24rem;
}

.max-w-fc {
  max-width: fit-content;
}

.max-w-lg {
  max-width: 64rem;
}

.max-w-md {
  max-width: 48rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mbs-6 {
  margin-block-start: 1.5rem;
}

.min-h-10 {
  min-height: 2.5rem;
}

.min-h-dvh {
  min-height: 100dvh;
}

.min-h-fc {
  min-height: fit-content;
}

.min-w-0 {
  min-width: 0;
}

.min-w-16 {
  min-width: 4rem;
}

.min-w-40 {
  min-width: 10rem;
}

.min-w-fc {
  min-width: fit-content;
}

.min-w-max {
  min-width: max-content;
}

.ml--2 {
  margin-left: -.5rem;
}

.ml--4 {
  margin-left: -1rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mx--4 {
  margin-inline: -1rem;
}

.mx-1 {
  margin-inline: .25rem;
}

.mx-auto {
  margin-inline: auto;
}

.my-1 {
  margin-block: .25rem;
}

.my-10 {
  margin-block: 2.5rem;
}

.my-16 {
  margin-block: 4rem;
}

.my-2 {
  margin-block: .5rem;
}

.my-3 {
  margin-block: .75rem;
}

.my-4 {
  margin-block: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.my-8 {
  margin-block: 2rem;
}

.o-50 {
  opacity: .5;
}

.o-60 {
  opacity: .6;
}

.o-h {
  overflow: hidden;
}

.oc-indigo-6 {
  outline-color: #797bf3;
}

.oc-pink-6 {
  outline-color: #ef62a7;
}

.oc-violet-6 {
  outline-color: #9b73f7;
}

.of-c {
  object-fit: cover;
}

.os-none {
  outline-style: none;
}

.os-s {
  outline-style: solid;
}

.ow-0 {
  outline-width: 0;
}

.ox-auto {
  overflow-x: auto;
}

.oy-auto {
  overflow-y: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: .25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-a {
  position: absolute;
}

.p-auto {
  padding: auto;
}

.p-f {
  position: fixed;
}

.p-px {
  padding: 1px;
}

.p-r {
  position: relative;
}

.p-st {
  position: sticky;
}

.p\:\:c-red-4::placeholder {
  color: #f18c94;
}

.p\:\:c-silver::placeholder {
  color: #9ca3af;
}

.p\:\:c-silver-6::placeholder {
  color: #aab0ba;
}

.p\:\:fs-i::placeholder {
  font-style: italic;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pe-auto {
  pointer-events: auto;
}

.pe-none {
  pointer-events: none;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.px-0 {
  padding-inline: 0;
}

.px-1 {
  padding-inline: .25rem;
}

.px-2 {
  padding-inline: .5rem;
}

.px-3 {
  padding-inline: .75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.px-8 {
  padding-inline: 2rem;
}

.py-0 {
  padding-block: 0;
}

.py-1 {
  padding-block: .25rem;
}

.py-2 {
  padding-block: .5rem;
}

.py-3 {
  padding-block: .75rem;
}

.py-4 {
  padding-block: 1rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.py-8 {
  padding-block: 2rem;
}

.r-0 {
  right: 0;
}

.r-100 {
  right: 25rem;
}

.r-2 {
  right: .5rem;
}

.r-auto {
  right: auto;
}

.rg-8 {
  row-gap: 2rem;
}

.ro-0 {
  rotate: 0;
}

.ro-45 {
  rotate: 225deg;
}

.ro-90 {
  rotate: 450deg;
}

.s\:\:bg-indigo::selection {
  background-color: #6366f1;
}

.s\:\:bg-indigo-4::selection {
  background-color: #a5a6f7;
}

.s\:\:c-white::selection {
  color: #ffffff;
}

.sb-s {
  scroll-behavior: smooth;
}

.spt-20 {
  scroll-padding-top: 5rem;
}

.t--4 {
  top: -1rem;
}

.t-0 {
  top: 0;
}

.t-100 {
  top: 25rem;
}

.t-12 {
  top: 3rem;
}

.t-2 {
  top: .5rem;
}

.t-20 {
  top: 5rem;
}

.t-4 {
  top: 1rem;
}

.t-half {
  top: 50%;
}

.ta-c {
  text-align: center;
}

.ta-ja {
  text-align: justify-all;
}

.ta-l {
  text-align: left;
}

.ta-mp {
  text-align: match-parent;
}

.ta-none {
  touch-action: none;
}

.ta-r {
  text-align: right;
}

.td-100 {
  transition-delay: 100ms;
}

.td-300 {
  transition-delay: 300ms;
}

.td-none {
  text-decoration: none;
}

.td-u {
  text-decoration: underline;
}

.tdc-blue {
  text-decoration-color: #2563eb;
}

.tdc-green {
  text-decoration-color: #06d6a0;
}

.tdc-red {
  text-decoration-color: #e63946;
}

.tdl-o {
  text-decoration-line: overline;
}

.tdu-100 {
  transition-duration: 100ms;
}

.tdu-150 {
  transition-duration: 150ms;
}

.tdu-200 {
  transition-duration: 200ms;
}

.tdu-300 {
  transition-duration: 300ms;
}

.tdu-500 {
  transition-duration: 500ms;
}

.to-e {
  text-overflow: ellipsis;
}

.tp-a {
  transition-property: all;
}

.tp-c {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
}

.tp-d {
  transition-property: height, width;
}

.tp-h {
  transition-property: height;
}

.tp-t {
  transition-property: transform;
}

.tp-w {
  transition-property: width;
}

.tt-u {
  text-transform: uppercase;
}

.ttf-io {
  transition-timing-function: ease-in-out;
}

.tuo-2 {
  text-underline-offset: 2px;
}

.tw-b {
  text-wrap: balance;
}

.tw-n {
  text-wrap: nowrap;
}

.us-none {
  user-select: none;
}

.va-m {
  vertical-align: middle;
}

.w-10 {
  width: 2.5rem;
}

.w-11 {
  width: 2.75rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-18 {
  width: 4.5rem;
}

.w-2 {
  width: .5rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-3 {
  width: .75rem;
}

.w-4 {
  width: 1rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-5 {
  width: 1.25rem;
}

.w-52 {
  width: 13rem;
}

.w-56 {
  width: 14rem;
}

.w-6 {
  width: 1.5rem;
}

.w-60 {
  width: 15rem;
}

.w-64 {
  width: 16rem;
}

.w-7 {
  width: 1.75rem;
}

.w-72 {
  width: 18rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-9 {
  width: 2.25rem;
}

.w-96 {
  width: 24rem;
}

.w-auto {
  width: auto;
}

.w-dvh {
  width: 100dvh;
}

.w-dvw {
  width: 100dvw;
}

.w-fc {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-px {
  width: 1px;
}

.w-s {
  width: stretch;
}

.w-vw {
  width: 100vw;
}

.ws-nw {
  white-space: nowrap;
}

.zi--10 {
  z-index: -10;
}

.zi-0 {
  z-index: 0;
}

.zi-10 {
  z-index: 10;
}

.zi-20 {
  z-index: 20;
}

.zi-50 {
  z-index: 50;
}

@media (min-width: 40rem) {
  .sm\:d-b {
    display: block;
  }

  .sm\:d-none {
    display: none;
  }

  .sm\:fd-r {
    flex-direction: row;
  }

  .sm\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:pt-16 {
    padding-top: 4rem;
  }

  .sm\:ta-c {
    text-align: center;
  }

  .sm\:ta-l {
    text-align: left;
  }
}

@media (min-width: 48rem) {
  .md\:ai-c {
    align-items: center;
  }

  .md\:bg-silver-1 {
    background-color: #eff0f2;
  }

  .md\:d-b {
    display: block;
  }

  .md\:d-f {
    display: flex;
  }

  .md\:d-none {
    display: none;
  }

  .md\:fd-r {
    flex-direction: row;
  }

  .md\:fs-6xl {
    font-size: 3.75rem;
  }

  .md\:gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:min-w-16 {
    min-width: 4rem;
  }

  .md\:w-auto {
    width: auto;
  }
}

@media (min-width: 64rem) {
  .lg\:bf-b-md {
    backdrop-filter: blur(16px);
  }

  .lg\:d-b {
    display: block;
  }

  .lg\:d-f {
    display: flex;
  }

  .lg\:d-none {
    display: none;
  }

  .lg\:f-1 {
    flex: 1;
  }

  .lg\:fd-r {
    flex-direction: row;
  }

  .lg\:fs-0 {
    flex-shrink: 0;
  }

  .lg\:fs-5xl {
    font-size: 3rem;
  }

  .lg\:gc-s-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:gc-s-6 {
    grid-column: span 6 / span 6;
  }

  .lg\:gc-s-8 {
    grid-column: span 8 / span 8;
  }

  .lg\:gtc-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:h\:bg-indigo\/50:hover {
    background-color: #6366f180;
  }

  .lg\:h\:bg-red\/50:hover {
    background-color: #e6394680;
  }

  .lg\:h\:f\:bg-red\/25:hover:focus {
    background-color: #e6394640;
  }

  .lg\:px-4 {
    padding-inline: 1rem;
  }

  .lg\:w-64 {
    width: 16rem;
  }
}

@media (min-width: 80rem) {
  .xl\:d-b {
    display: block;
  }

  .xl\:d-none {
    display: none;
  }
}

@media (min-width: 96rem) {
  .xxl\:d-b {
    display: block;
  }
}

@media (pointer: coarse) {
  .pc\:p-6 {
    padding: 1.5rem;
  }
}