*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  line-height: 1.5;
}

canvas, img, picture, svg, video {
  max-width: 100%;
  display: block;
}

button, input, optgroup, select, textarea {
  background-color: #0000;
  padding: .5rem;
  font-family: inherit;
}

button:not([class]), input:not([class]), optgroup:not([class]), select:not([class]), textarea:not([class]) {
  border: 1px solid #bfc2c7;
}

a, button, input, select, summary, textarea {
  &:focus {
    outline: 2px solid #0000;
  }
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  cursor: pointer;
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-size: 1rem;
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 80%;
  line-height: 1.4;
}

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  padding: 0;
  list-style: none;
}

th {
  font-size: 1rem;
  font-weight: 600;
}

hr {
  border-top: 1px solid #bfc2c7;
  height: 0;
  margin: 1em 0;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.a-auto {
  appearance: auto;
}

.a-none {
  appearance: none;
}

.a\:\:c-indigo:after {
  color: #6366f1;
}

.a\:\:p-a:after {
  position: absolute;
}

.a\:bg-indigo-7:active {
  background-color: #5558cf;
}

.a\:bg-indigo-9:active {
  background-color: #393b8c;
}

.a\:bg-silver-2:active {
  background-color: #e1e3e7;
}

.a\:bg-silver-3:active {
  background-color: #d3d7dc;
}

.ac-b {
  align-content: baseline;
}

.ac-c {
  align-content: center;
}

.ac-fe {
  align-content: flex-end;
}

.ac-fs {
  align-content: flex-start;
}

.ac-n {
  align-content: normal;
}

.ac-sa {
  align-content: space-around;
}

.ac-sb {
  align-content: space-between;
}

.ac-se {
  align-content: space-evenly;
}

.ac-silver-2 {
  accent-color: #e1e3e7;
}

.ac-silver-8 {
  accent-color: #70757e;
}

.ac-st {
  align-content: stretch;
}

.ai-b {
  align-items: baseline;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.ai-st {
  align-items: stretch;
}

.ar-1\/1 {
  aspect-ratio: 1;
}

.ar-1\/2 {
  aspect-ratio: 1 / 2;
}

.ar-16\/9 {
  aspect-ratio: 16 / 9;
}

.ar-2\/1 {
  aspect-ratio: 2;
}

.ar-2\/3 {
  aspect-ratio: 2 / 3;
}

.ar-3\/2 {
  aspect-ratio: 3 / 2;
}

.ar-9\/16 {
  aspect-ratio: 9 / 16;
}

.ar-auto {
  aspect-ratio: auto;
}

.as-auto {
  align-self: auto;
}

.as-b {
  align-self: baseline;
}

.as-c {
  align-self: center;
}

.as-fe {
  align-self: flex-end;
}

.as-fs {
  align-self: flex-start;
}

.as-st {
  align-self: stretch;
}

.b-0 {
  bottom: 0;
}

.b-1 {
  bottom: .25rem;
}

.b-2 {
  bottom: .5rem;
}

.b-3 {
  bottom: .75rem;
}

.b-4 {
  bottom: 1rem;
}

.b-5 {
  bottom: 1.25rem;
}

.b-6 {
  bottom: 1.5rem;
}

.b-7 {
  bottom: 1.75rem;
}

.b-8 {
  bottom: 2rem;
}

.b\:\:bg-indigo\/10:before {
  background-color: #6366f11a;
}

.b\:\:i-0:before {
  inset: 0;
}

.b\:\:p-a:before {
  position: absolute;
}

.ba-f {
  background-attachment: fixed;
}

.ba-l {
  background-attachment: local;
}

.ba-s {
  background-attachment: scroll;
}

.bbw-1 {
  border-bottom-width: 1px;
}

.bbw-2 {
  border-bottom-width: 2px;
}

.bbw-3 {
  border-bottom-width: 3px;
}

.bc-b-indigo {
  border-bottom-color: #6366f1;
}

.bc-b-indigo-3 {
  border-bottom-color: #babcf9;
}

.bc-b-indigo-8 {
  border-bottom-color: #4749ae;
}

.bc-bb {
  background-clip: border-box;
}

.bc-c {
  border-collapse: collapse;
}

.bc-cb {
  background-clip: content-box;
}

.bc-gray {
  border-color: #6b7280;
}

.bc-gray-2 {
  border-color: #d3d5d9;
}

.bc-green-4 {
  border-color: #6fe7c8;
}

.bc-indigo {
  border-color: #6366f1;
}

.bc-indigo-2\/50 {
  border-color: #d0d1fb80;
}

.bc-indigo-3 {
  border-color: #babcf9;
}

.bc-indigo-4 {
  border-color: #a5a6f7;
}

.bc-indigo-7 {
  border-color: #5558cf;
}

.bc-indigo-8 {
  border-color: #4749ae;
}

.bc-pb {
  background-clip: padding-box;
}

.bc-r-indigo {
  border-right-color: #6366f1;
}

.bc-r-indigo-3 {
  border-right-color: #babcf9;
}

.bc-r-indigo-8 {
  border-right-color: #4749ae;
}

.bc-red-4 {
  border-color: #f18c94;
}

.bc-red-7 {
  border-color: #c6313c;
}

.bc-s {
  border-collapse: separate;
}

.bc-silver {
  border-color: #9ca3af;
}

.bc-silver-2 {
  border-color: #e1e3e7;
}

.bc-silver-3 {
  border-color: #d3d7dc;
}

.bc-silver-4 {
  border-color: #c6cad1;
}

.bc-slate {
  border-color: #64748b;
}

.bc-slate-8 {
  border-color: #485464;
}

.bc-t {
  background-clip: text;
}

.bc-t-indigo {
  border-top-color: #6366f1;
}

.bc-t-indigo-3 {
  border-top-color: #babcf9;
}

.bc-t-indigo-8 {
  border-top-color: #4749ae;
}

.bc-transparent {
  border-color: #0000;
}

.bc-white\/10 {
  border-color: #ffffff1a;
}

.bc-white\/20 {
  border-color: #fff3;
}

.bc-white\/30 {
  border-color: #ffffff4d;
}

.bc-white\/5 {
  border-color: #ffffff0d;
}

.bf-b-lg {
  backdrop-filter: blur(32px);
}

.bf-b-md {
  backdrop-filter: blur(16px);
}

.bf-b-none {
  backdrop-filter: blur();
}

.bf-b-sm {
  backdrop-filter: blur(8px);
}

.bf-b-xl {
  backdrop-filter: blur(64px);
}

.bf-b-xs {
  backdrop-filter: blur(4px);
}

.bg-black {
  background-color: #000;
}

.bg-black\/10 {
  background-color: #0000001a;
}

.bg-black\/20 {
  background-color: #0003;
}

.bg-black\/50 {
  background-color: #00000080;
}

.bg-black\/70 {
  background-color: #000000b3;
}

.bg-blue {
  background-color: #2563eb;
}

.bg-blue-5 {
  background-color: #628ff1;
}

.bg-blue-9 {
  background-color: #153988;
}

.bg-blue-9\/20 {
  background-color: #15398833;
}

.bg-green {
  background-color: #06d6a0;
}

.bg-green-1 {
  background-color: #d7f8f0;
}

.bg-green-6 {
  background-color: #29dcad;
}

.bg-green\/25 {
  background-color: #06d6a040;
}

.bg-indigo {
  background-color: #6366f1;
}

.bg-indigo-1 {
  background-color: #e6e7fd;
}

.bg-indigo-2 {
  background-color: #d0d1fb;
}

.bg-indigo-3 {
  background-color: #babcf9;
}

.bg-indigo-3\/50 {
  background-color: #babcf980;
}

.bg-indigo-6\/25 {
  background-color: #797bf340;
}

.bg-indigo-8 {
  background-color: #4749ae;
}

.bg-indigo-9 {
  background-color: #393b8c;
}

.bg-indigo-9\/20 {
  background-color: #393b8c33;
}

.bg-indigo\/10 {
  background-color: #6366f11a;
}

.bg-indigo\/25 {
  background-color: #6366f140;
}

.bg-indigo\/5 {
  background-color: #6366f10d;
}

.bg-indigo\/50 {
  background-color: #6366f180;
}

.bg-red {
  background-color: #e63946;
}

.bg-red-1 {
  background-color: #fbdfe1;
}

.bg-red-3 {
  background-color: #f4a8ae;
}

.bg-red-3\/50 {
  background-color: #f4a8ae80;
}

.bg-red\/50 {
  background-color: #e6394680;
}

.bg-silver-1 {
  background-color: #eff0f2;
}

.bg-silver-1\/50 {
  background-color: #eff0f280;
}

.bg-silver-2 {
  background-color: #e1e3e7;
}

.bg-silver-3 {
  background-color: #d3d7dc;
}

.bg-silver-4 {
  background-color: #c6cad1;
}

.bg-slate {
  background-color: #64748b;
}

.bg-slate-1 {
  background-color: #e6e9ec;
}

.bg-slate-5 {
  background-color: #8f9bab;
}

.bg-slate-8 {
  background-color: #485464;
}

.bg-transparent {
  background-color: #0000;
}

.bg-white {
  background-color: #fff;
}

.bg-white\/10 {
  background-color: #ffffff1a;
}

.bg-white\/5 {
  background-color: #ffffff0d;
}

.bg-zinc-8 {
  background-color: #3b3b42;
}

.bg-zinc-9 {
  background-color: #303035;
}

.blw-0 {
  border-left-width: 0;
}

.blw-1 {
  border-left-width: 1px;
}

.blw-2 {
  border-left-width: 2px;
}

.blw-3 {
  border-left-width: 3px;
}

.bo-bb {
  background-origin: border-box;
}

.bo-cb {
  background-origin: content-box;
}

.bo-pb {
  background-origin: padding-box;
}

.bp-b {
  background-position: bottom;
}

.bp-c {
  background-position: center;
}

.bp-l {
  background-position: 0;
}

.bp-lb {
  background-position: 0 100%;
}

.bp-lt {
  background-position: 0 0;
}

.bp-r {
  background-position: 100%;
}

.bp-rb {
  background-position: 100% 100%;
}

.bp-rt {
  background-position: 100% 0;
}

.bp-t {
  background-position: top;
}

.br-0 {
  border-radius: 0;
}

.br-1 {
  border-radius: .25rem;
}

.br-2 {
  border-radius: .5rem;
}

.br-3 {
  border-radius: .75rem;
}

.br-b-2 {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.br-bl-2 {
  border-bottom-left-radius: .5rem;
}

.br-br-2 {
  border-bottom-right-radius: .5rem;
}

.br-full {
  border-radius: 100%;
}

.br-half {
  border-radius: 50%;
}

.br-l-2 {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.br-nr {
  background-repeat: no-repeat;
}

.br-pill {
  border-radius: 9999px;
}

.br-r {
  background-repeat: repeat;
}

.br-r-2 {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.br-ro {
  background-repeat: round;
}

.br-rx {
  background-repeat: repeat-x;
}

.br-ry {
  background-repeat: repeat-y;
}

.br-s {
  background-repeat: space;
}

.br-t-2 {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.br-tl-2 {
  border-top-left-radius: .5rem;
}

.br-tr-2 {
  border-top-right-radius: .5rem;
}

.brw-0 {
  border-right-width: 0;
}

.brw-1 {
  border-right-width: 1px;
}

.brw-2 {
  border-right-width: 2px;
}

.brw-3 {
  border-right-width: 3px;
}

.bs-4 {
  border-spacing: 1rem;
}

.bs-auto {
  background-size: auto;
}

.bs-bb {
  box-sizing: border-box;
}

.bs-c {
  background-size: cover;
}

.bs-cb {
  box-sizing: content-box;
}

.bs-co {
  background-size: contain;
}

.bs-d {
  border-style: dashed;
}

.bs-none {
  border-style: none;
}

.bs-px {
  border-spacing: 1px;
}

.bs-s {
  border-style: solid;
}

.bsh-lg {
  box-shadow: 1px 3px 5px 1px #0000001a;
}

.bsh-md {
  box-shadow: 1px 3px 5px -1px #0000001a;
}

.bsh-none {
  box-shadow: none;
}

.bsh-sm {
  box-shadow: 1px 3px 5px -2px #0000001a;
}

.bsh-xs {
  box-shadow: 1px 3px 5px -3px #0000001a;
}

.btw-1 {
  border-top-width: 1px;
}

.btw-2 {
  border-top-width: 2px;
}

.btw-3 {
  border-top-width: 3px;
}

.bw-0 {
  border-width: 0;
}

.bw-1 {
  border-width: 1px;
}

.bw-2 {
  border-width: 2px;
}

.bw-3 {
  border-width: 3px;
}

.c-4 {
  columns: 4;
}

.c-black {
  color: #000;
}

.c-cr {
  cursor: col-resize;
}

.c-d {
  cursor: default;
}

.c-er {
  cursor: ew-resize;
}

.c-gray {
  color: #6b7280;
}

.c-gray-7 {
  color: #5c626e;
}

.c-green {
  color: #06d6a0;
}

.c-h {
  cursor: help;
}

.c-indigo {
  color: #6366f1;
}

.c-indigo-5 {
  color: #8f91f5;
}

.c-indigo-8 {
  color: #4749ae;
}

.c-na {
  cursor: not-allowed;
}

.c-ner {
  cursor: ne-resize;
}

.c-neswr {
  cursor: nesw-resize;
}

.c-none {
  cursor: none;
}

.c-nwr {
  cursor: nw-resize;
}

.c-nwser {
  cursor: nwse-resize;
}

.c-orange {
  color: #ff6b35;
}

.c-p {
  cursor: pointer;
}

.c-pr {
  cursor: progress;
}

.c-red {
  color: #e63946;
}

.c-rs {
  cursor: row-resize;
}

.c-ser {
  cursor: se-resize;
}

.c-silver {
  color: #9ca3af;
}

.c-silver-1 {
  color: #eff0f2;
}

.c-silver-10 {
  color: #45484d;
}

.c-silver-12 {
  color: #191a1c;
}

.c-silver-3 {
  color: #d3d7dc;
}

.c-silver-4 {
  color: #c6cad1;
}

.c-silver-8 {
  color: #70757e;
}

.c-silver-9 {
  color: #5a5f66;
}

.c-slate {
  color: #64748b;
}

.c-slate-10 {
  color: #2c333d;
}

.c-slate-12 {
  color: #101316;
}

.c-slate-5 {
  color: #8f9bab;
}

.c-slate-6 {
  color: #7a879b;
}

.c-slate-7 {
  color: #566478;
}

.c-slate-8 {
  color: #485464;
}

.c-slate-9 {
  color: #3a4351;
}

.c-sr {
  cursor: s-resize;
}

.c-swr {
  cursor: sw-resize;
}

.c-transparent {
  color: #0000;
}

.c-white {
  color: #fff;
}

.c-white\/30 {
  color: #ffffff4d;
}

.c-white\/40 {
  color: #fff6;
}

.c-white\/50 {
  color: #ffffff80;
}

.c-white\/60 {
  color: #fff9;
}

.c-white\/70 {
  color: #ffffffb3;
}

.c-white\/80 {
  color: #fffc;
}

.c-wr {
  cursor: w-resize;
}

.c-yellow {
  color: #ffb81c;
}

.c-zi {
  cursor: zoom-in;
}

.c-zo {
  cursor: zoom-out;
}

.c\:bg-indigo-4:checked {
  background-color: #a5a6f7;
}

.cc-indigo {
  caret-color: #6366f1;
}

.cg-1 {
  column-gap: .25rem;
}

.cg-10 {
  column-gap: 2.5rem;
}

.cg-4 {
  column-gap: 1rem;
}

.cg-8 {
  column-gap: 2rem;
}

.cl-b {
  clear: both;
}

.cl-ie {
  clear: inline-end;
}

.cl-is {
  clear: inline-start;
}

.cl-l {
  clear: left;
}

.cl-none {
  clear: none;
}

.cl-r {
  clear: right;
}

.cs-b {
  caption-side: bottom;
}

.cs-t {
  caption-side: top;
}

.d-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.d-12 {
  width: 3rem;
  height: 3rem;
}

.d-14 {
  width: 3.5rem;
  height: 3.5rem;
}

.d-15 {
  width: 3.75rem;
  height: 3.75rem;
}

.d-16 {
  width: 4rem;
  height: 4rem;
}

.d-18 {
  width: 4.5rem;
  height: 4.5rem;
}

.d-2 {
  width: .5rem;
  height: .5rem;
}

.d-20 {
  width: 5rem;
  height: 5rem;
}

.d-22 {
  width: 5.5rem;
  height: 5.5rem;
}

.d-24 {
  width: 6rem;
  height: 6rem;
}

.d-26 {
  width: 6.5rem;
  height: 6.5rem;
}

.d-3 {
  width: .75rem;
  height: .75rem;
}

.d-30 {
  width: 7.5rem;
  height: 7.5rem;
}

.d-32 {
  width: 8rem;
  height: 8rem;
}

.d-4 {
  width: 1rem;
  height: 1rem;
}

.d-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.d-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.d-7 {
  width: 1.75rem;
  height: 1.75rem;
}

.d-8 {
  width: 2rem;
  height: 2rem;
}

.d-b {
  display: block;
}

.d-dvh {
  width: 100dvh;
  height: 100dvh;
}

.d-dvw {
  width: 100dvw;
  height: 100dvw;
}

.d-f {
  display: flex;
}

.d-fr {
  display: flow-root;
}

.d-full {
  width: 100%;
  height: 100%;
}

.d-g {
  display: grid;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.d-if {
  display: inline-flex;
}

.d-ig {
  display: inline-grid;
}

.d-it {
  display: inline-table;
}

.d-none {
  display: none;
}

.d-px {
  width: 1px;
  height: 1px;
}

.d-s {
  width: stretch;
  height: stretch;
}

.d-t {
  display: table;
}

.d\:bg-silver-4:disabled {
  background-color: #c6cad1;
}

.d\:c-silver-9:disabled {
  color: #5a5f66;
}

.d\:o-50:disabled {
  opacity: .5;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2 2;
}

.f-auto {
  flex: auto;
}

.f-b-none {
  filter: blur();
}

.f-b-xs {
  filter: blur(4px);
}

.f-current {
  fill: currentColor;
}

.f-g-0 {
  filter: grayscale(0%);
}

.f-g-100 {
  filter: grayscale();
}

.f-g-50 {
  filter: grayscale(50%);
}

.f-none {
  flex: none;
}

.f-silver {
  fill: #9ca3af;
}

.f-silver-4 {
  fill: #c6cad1;
}

.f-silver-8 {
  fill: #70757e;
}

.f\:oc-blue-8:focus {
  outline-color: #1b47a9;
}

.f\:oc-green-1:focus {
  outline-color: #d7f8f0;
}

.f\:oc-indigo-4:focus {
  outline-color: #a5a6f7;
}

.f\:oc-indigo-5:focus {
  outline-color: #8f91f5;
}

.f\:oc-silver-1:focus {
  outline-color: #eff0f2;
}

.f\:oo--1:focus {
  outline-offset: -1px;
}

.f\:oo-2:focus {
  outline-offset: 2px;
}

.f\:os-s:focus {
  outline-style: solid;
}

.f\:ow-2:focus {
  outline-width: 2px;
}

.fb-0 {
  flex-basis: 0;
}

.fb-50 {
  flex-basis: 12.5rem;
}

.fb-auto {
  flex-basis: auto;
}

.fb-full {
  flex-basis: 100%;
}

.fd-c {
  flex-direction: column;
}

.fd-cr {
  flex-direction: column-reverse;
}

.fd-r {
  flex-direction: row;
}

.fd-rr {
  flex-direction: row-reverse;
}

.ff-d {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.ff-m {
  font-family: ui-monospace, Cascadia Code, Source Code Pro, Menlo, Roboto Mono, Ubuntu Mono, Consolas, Liberation Mono, Courier New, monospace;
}

.ff-s {
  font-family: Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif;
}

.fg-0 {
  flex-grow: 0;
}

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fl-ie {
  float: inline-end;
}

.fl-is {
  float: inline-start;
}

.fl-l {
  float: left;
}

.fl-none {
  float: none;
}

.fl-r {
  float: right;
}

.fs-0 {
  flex-shrink: 0;
}

.fs-1 {
  flex-shrink: 1;
}

.fs-2 {
  flex-shrink: 2;
}

.fs-3xl {
  font-size: 1.875rem;
}

.fs-4xl {
  font-size: 2.25rem;
}

.fs-5xl {
  font-size: 3rem;
}

.fs-6xl {
  font-size: 3.75rem;
}

.fs-7xl {
  font-size: 4.5rem;
}

.fs-8xl {
  font-size: 6rem;
}

.fs-9xl {
  font-size: 8rem;
}

.fs-c {
  field-sizing: content;
}

.fs-f {
  field-sizing: fixed;
}

.fs-i {
  font-style: italic;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-n {
  font-style: normal;
}

.fs-sm {
  font-size: .875rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xs {
  font-size: .75rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fv\:bc-transparent:focus-visible {
  border-color: #0000;
}

.fv\:br-1:focus-visible {
  border-radius: .25rem;
}

.fv\:oc-black:focus-visible {
  outline-color: #000;
}

.fv\:oc-blue-8:focus-visible {
  outline-color: #1b47a9;
}

.fv\:oc-indigo:focus-visible {
  outline-color: #6366f1;
}

.fv\:oc-indigo-2:focus-visible {
  outline-color: #d0d1fb;
}

.fv\:oc-indigo-4:focus-visible {
  outline-color: #a5a6f7;
}

.fv\:oc-indigo-6:focus-visible {
  outline-color: #797bf3;
}

.fv\:oc-red-6:focus-visible {
  outline-color: #ea5560;
}

.fv\:oc-white:focus-visible {
  outline-color: #fff;
}

.fv\:oc-white\/30:focus-visible {
  outline-color: #ffffff4d;
}

.fv\:oo--1:focus-visible {
  outline-offset: -1px;
}

.fv\:oo--2:focus-visible {
  outline-offset: -2px;
}

.fv\:oo-1:focus-visible {
  outline-offset: 1px;
}

.fv\:oo-2:focus-visible {
  outline-offset: 2px;
}

.fv\:os-s:focus-visible {
  outline-style: solid;
}

.fv\:ow-2:focus-visible {
  outline-width: 2px;
}

.fv\:td-u:focus-visible {
  text-decoration: underline;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-nw {
  flex-wrap: nowrap;
}

.fw-w {
  flex-wrap: wrap;
}

.fw-wr {
  flex-wrap: wrap-reverse;
}

.fw\:bc-indigo:focus-within {
  border-color: #6366f1;
}

.g-0 {
  gap: 0;
}

.g-1 {
  gap: .25rem;
}

.g-10 {
  gap: 2.5rem;
}

.g-12 {
  gap: 3rem;
}

.g-16 {
  gap: 4rem;
}

.g-2 {
  gap: .5rem;
}

.g-3 {
  gap: .75rem;
}

.g-4 {
  gap: 1rem;
}

.g-6 {
  gap: 1.5rem;
}

.g-8 {
  gap: 2rem;
}

.g-px {
  gap: 1px;
}

.gac-auto {
  grid-auto-columns: auto;
}

.gac-max {
  grid-auto-columns: max-content;
}

.gac-min {
  grid-auto-columns: min-content;
}

.gaf-c {
  grid-auto-flow: column;
}

.gaf-d {
  grid-auto-flow: dense;
}

.gaf-r {
  grid-auto-flow: row;
}

.gaf-rd {
  grid-auto-flow: row dense;
}

.gar-auto {
  grid-auto-rows: auto;
}

.gar-max {
  grid-auto-rows: max-content;
}

.gar-min {
  grid-auto-rows: min-content;
}

.gc-s-2 {
  grid-column: span 2 / span 2;
}

.gce-3 {
  grid-column-end: 3;
}

.gcs-3 {
  grid-column-start: 3;
}

.gr-s-2 {
  grid-row: span 2 / span 2;
}

.gre-3 {
  grid-row-end: 3;
}

.gre-4 {
  grid-row-end: 4;
}

.grs-1 {
  grid-row-start: 1;
}

.grs-2 {
  grid-row-start: 2;
}

.gtc-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gtc-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gtc-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gtc-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gtr-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.h-0 {
  height: 0;
}

.h-1 {
  height: .25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-100 {
  height: 25rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-2 {
  height: .5rem;
}

.h-24 {
  height: 6rem;
}

.h-28 {
  height: 7rem;
}

.h-3 {
  height: .75rem;
}

.h-30 {
  height: 7.5rem;
}

.h-32 {
  height: 8rem;
}

.h-36 {
  height: 9rem;
}

.h-4 {
  height: 1rem;
}

.h-40 {
  height: 10rem;
}

.h-48 {
  height: 12rem;
}

.h-50 {
  height: 12.5rem;
}

.h-6 {
  height: 1.5rem;
}

.h-64 {
  height: 16rem;
}

.h-75 {
  height: 18.75rem;
}

.h-8 {
  height: 2rem;
}

.h-96 {
  height: 24rem;
}

.h-auto {
  height: auto;
}

.h-dvh {
  height: 100dvh;
}

.h-fc {
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.h-px {
  height: 1px;
}

.h-s {
  height: stretch;
}

.h-vh {
  height: 100vh;
}

.h\:bg-blue:hover {
  background-color: #2563eb;
}

.h\:bg-blue-6:hover {
  background-color: #4479ee;
}

.h\:bg-green-1:hover {
  background-color: #d7f8f0;
}

.h\:bg-indigo-6\/50:hover {
  background-color: #797bf380;
}

.h\:bg-indigo-7:hover {
  background-color: #5558cf;
}

.h\:bg-indigo-8:hover {
  background-color: #4749ae;
}

.h\:bg-indigo\/25:hover {
  background-color: #6366f140;
}

.h\:bg-red-1:hover {
  background-color: #fbdfe1;
}

.h\:bg-red-11:hover {
  background-color: #451115;
}

.h\:bg-red-8:hover {
  background-color: #a62932;
}

.h\:bg-red\/50:hover {
  background-color: #e6394680;
}

.h\:bg-silver-1:hover {
  background-color: #eff0f2;
}

.h\:bg-silver-1\/50:hover {
  background-color: #eff0f280;
}

.h\:bg-silver-1\/55:hover {
  background-color: #eff0f28c;
}

.h\:bg-silver-2:hover {
  background-color: #e1e3e7;
}

.h\:bg-slate-7:hover {
  background-color: #566478;
}

.h\:bg-white\/10:hover {
  background-color: #ffffff1a;
}

.h\:bg-white\/5:hover {
  background-color: #ffffff0d;
}

.h\:bg-white\/90:hover {
  background-color: #ffffffe6;
}

.h\:bg-yellow-11:hover {
  background-color: #4d3708;
}

.h\:bg-zinc-7:hover {
  background-color: #47474e;
}

.h\:bsh-xl:hover {
  box-shadow: 1px 3px 5px 2px #0000001a;
}

.h\:c-black:hover {
  color: #000;
}

.h\:c-blue-8:hover {
  color: #1b47a9;
}

.h\:c-slate:hover {
  color: #64748b;
}

.h\:c-slate-10:hover {
  color: #2c333d;
}

.h\:c-slate-12:hover {
  color: #101316;
}

.h\:c-slate-8:hover {
  color: #485464;
}

.h\:c-white:hover {
  color: #fff;
}

.h\:c-white\/90:hover {
  color: #ffffffe6;
}

.h\:o-50:hover {
  opacity: .5;
}

.h\:o-90:hover {
  opacity: .9;
}

.h\:t-s-80:hover {
  transform: scale(.8);
}

.h\:t-s-90:hover {
  transform: scale(.9);
}

.h\:td-u:hover {
  text-decoration: underline;
}

.i-0 {
  inset: 0;
}

.i-100 {
  inset: 25rem;
}

.is-auto {
  isolation: auto;
}

.is-i {
  isolation: isolate;
}

.ix-0 {
  left: 0;
  right: 0;
}

.iy-0 {
  top: 0;
  bottom: 0;
}

.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-n {
  justify-content: normal;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-st {
  justify-content: stretch;
}

.ji-c {
  justify-items: center;
}

.ji-e {
  justify-items: end;
}

.ji-s {
  justify-items: start;
}

.ji-st {
  justify-items: stretch;
}

.js-auto {
  justify-self: auto;
}

.js-c {
  justify-self: center;
}

.js-e {
  justify-self: end;
}

.js-s {
  justify-self: start;
}

.js-st {
  justify-self: stretch;
}

.l--3 {
  left: -.75rem;
}

.l-0 {
  left: 0;
}

.l-2 {
  left: .5rem;
}

.l-4 {
  left: 1rem;
}

.l-auto {
  left: auto;
}

.l-half {
  left: 50%;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.25;
}

.lh-3 {
  line-height: 1.375;
}

.lh-4 {
  line-height: 1.5;
}

.lh-5 {
  line-height: 1.625;
}

.lh-6 {
  line-height: 2;
}

.ls-0 {
  letter-spacing: 0;
}

.ls-1 {
  letter-spacing: -.05em;
}

.ls-2 {
  letter-spacing: -.025em;
}

.ls-3 {
  letter-spacing: .025em;
}

.ls-4 {
  letter-spacing: .05em;
}

.ls-5 {
  letter-spacing: .1em;
}

.lsp-i {
  list-style-position: inside;
}

.lsp-o {
  list-style-position: outside;
}

.lst-c {
  list-style-type: circle;
}

.lst-d {
  list-style-type: disc;
}

.lst-s {
  list-style-type: square;
}

.m-0 {
  margin: 0;
}

.m-2 {
  margin: .5rem;
}

.m-8 {
  margin: 2rem;
}

.m-auto {
  margin: auto;
}

.m-px {
  margin: 1px;
}

.max-d-64 {
  max-width: 16rem;
  max-height: 16rem;
}

.max-d-80 {
  max-width: 20rem;
  max-height: 20rem;
}

.max-h-100 {
  max-height: 25rem;
}

.max-h-50 {
  max-height: 12.5rem;
}

.max-h-52 {
  max-height: 13rem;
}

.max-h-64 {
  max-height: 16rem;
}

.max-h-72 {
  max-height: 18rem;
}

.max-h-80 {
  max-height: 20rem;
}

.max-h-90 {
  max-height: 22.5rem;
}

.max-h-fc {
  max-height: fit-content;
}

.max-h-vh {
  max-height: 100vh;
}

.max-w-100 {
  max-width: 25rem;
}

.max-w-30 {
  max-width: 7.5rem;
}

.max-w-64 {
  max-width: 16rem;
}

.max-w-70 {
  max-width: 17.5rem;
}

.max-w-80 {
  max-width: 20rem;
}

.max-w-96 {
  max-width: 24rem;
}

.max-w-full {
  max-width: 100%;
}

.max-w-lg {
  max-width: 64rem;
}

.max-w-md {
  max-width: 48rem;
}

.max-w-sm {
  max-width: 40rem;
}

.max-w-xl {
  max-width: 80rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mbe-8 {
  margin-block-end: 2rem;
}

.mbs-8 {
  margin-block-start: 2rem;
}

.mie-8 {
  margin-inline-end: 2rem;
}

.min-d-32 {
  min-width: 8rem;
  min-height: 8rem;
}

.min-h-16 {
  min-height: 4rem;
}

.min-h-dvh {
  min-height: 100dvh;
}

.min-h-fc {
  min-height: fit-content;
}

.min-w-0 {
  min-width: 0;
}

.min-w-16 {
  min-width: 4rem;
}

.min-w-40 {
  min-width: 10rem;
}

.min-w-48 {
  min-width: 12rem;
}

.min-w-64 {
  min-width: 16rem;
}

.min-w-fc {
  min-width: fit-content;
}

.min-w-max {
  min-width: max-content;
}

.mis-8 {
  margin-inline-start: 2rem;
}

.ml--2 {
  margin-left: -.5rem;
}

.ml-1 {
  margin-left: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-auto {
  margin-top: auto;
}

.mx-1 {
  margin-inline: .25rem;
}

.mx-4 {
  margin-inline: 1rem;
}

.mx-8 {
  margin-inline: 2rem;
}

.mx-auto {
  margin-inline: auto;
}

.my-1 {
  margin-block: .25rem;
}

.my-10 {
  margin-block: 2.5rem;
}

.my-16 {
  margin-block: 4rem;
}

.my-2 {
  margin-block: .5rem;
}

.my-3 {
  margin-block: .75rem;
}

.my-4 {
  margin-block: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.my-8 {
  margin-block: 2rem;
}

.o-0 {
  opacity: 0;
}

.o-100 {
  opacity: 1;
}

.o-20 {
  opacity: .2;
}

.o-50 {
  opacity: .5;
}

.o-70 {
  opacity: .7;
}

.o-auto {
  overflow: auto;
}

.o-c {
  overflow: clip;
}

.o-h {
  overflow: hidden;
}

.o-s {
  overflow: scroll;
}

.o-v {
  overflow: visible;
}

.o-x-auto {
  overflow-x: auto;
}

.o-x-c {
  overflow-x: clip;
}

.o-x-h {
  overflow-x: hidden;
}

.o-x-s {
  overflow-x: scroll;
}

.o-x-v {
  overflow-x: visible;
}

.o-y-auto {
  overflow-y: auto;
}

.o-y-c {
  overflow-y: clip;
}

.o-y-h {
  overflow-y: hidden;
}

.o-y-s {
  overflow-y: scroll;
}

.o-y-v {
  overflow-y: visible;
}

.oc-indigo {
  outline-color: #6366f1;
}

.oc-indigo-3 {
  outline-color: #babcf9;
}

.oc-indigo-8 {
  outline-color: #4749ae;
}

.of-c {
  object-fit: cover;
}

.of-f {
  object-fit: fill;
}

.of-none {
  object-fit: none;
}

.of-sd {
  object-fit: scale-down;
}

.oo-1 {
  outline-offset: 1px;
}

.oo-2 {
  outline-offset: 2px;
}

.oo-3 {
  outline-offset: 3px;
}

.op-b {
  object-position: bottom;
}

.op-c {
  object-position: center;
}

.op-l {
  object-position: left;
}

.op-lb {
  object-position: left bottom;
}

.op-lt {
  object-position: left top;
}

.op-r {
  object-position: right;
}

.op-rb {
  object-position: right bottom;
}

.op-rt {
  object-position: right top;
}

.op-t {
  object-position: top;
}

.or-f {
  order: 9999;
}

.or-l {
  order: -9999;
}

.os-d {
  outline-style: dashed;
}

.os-none {
  outline-style: none;
}

.os-s {
  outline-style: solid;
}

.ow-0 {
  outline-width: 0;
}

.ow-1 {
  outline-width: 1px;
}

.ow-2 {
  outline-width: 2px;
}

.ow-3 {
  outline-width: 3px;
}

.ow-bw {
  overflow-wrap: break-word;
}

.ow-n {
  overflow-wrap: normal;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: .25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-a {
  position: absolute;
}

.p-auto {
  padding: auto;
}

.p-f {
  position: fixed;
}

.p-px {
  padding: 1px;
}

.p-r {
  position: relative;
}

.p-s {
  position: static;
}

.p-st {
  position: sticky;
}

.p\:\:c-red-4::placeholder {
  color: #f18c94;
}

.p\:\:c-silver::placeholder {
  color: #9ca3af;
}

.p\:\:fs-i::placeholder {
  font-style: italic;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pbe-6 {
  padding-block-end: 1.5rem;
}

.pbs-6 {
  padding-block-start: 1.5rem;
}

.pc-b {
  place-content: baseline start;
}

.pc-c {
  place-content: center;
}

.pc-e {
  place-content: end;
}

.pc-s {
  place-content: start;
}

.pc-sa {
  place-content: space-around;
}

.pc-sb {
  place-content: space-between;
}

.pc-se {
  place-content: space-evenly;
}

.pc-st {
  place-content: stretch;
}

.pe-auto {
  pointer-events: auto;
}

.pe-none {
  pointer-events: none;
}

.pi-b {
  place-items: baseline;
}

.pi-c {
  place-items: center;
}

.pi-e {
  place-items: end;
}

.pi-s {
  place-items: start;
}

.pi-st {
  place-items: stretch stretch;
}

.pie-6 {
  padding-inline-end: 1.5rem;
}

.pis-6 {
  padding-inline-start: 1.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.ps-auto {
  place-self: auto;
}

.ps-c {
  place-self: center;
}

.ps-e {
  place-self: end;
}

.ps-s {
  place-self: start;
}

.ps-st {
  place-self: stretch stretch;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-26 {
  padding-top: 6.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.px-0 {
  padding-inline: 0;
}

.px-1 {
  padding-inline: .25rem;
}

.px-2 {
  padding-inline: .5rem;
}

.px-3 {
  padding-inline: .75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.px-8 {
  padding-inline: 2rem;
}

.py-0 {
  padding-block: 0;
}

.py-1 {
  padding-block: .25rem;
}

.py-12 {
  padding-block: 3rem;
}

.py-16 {
  padding-block: 4rem;
}

.py-2 {
  padding-block: .5rem;
}

.py-3 {
  padding-block: .75rem;
}

.py-4 {
  padding-block: 1rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.py-6 {
  padding-block: 1.5rem;
}

.py-8 {
  padding-block: 2rem;
}

.py-px {
  padding-block: 1px;
}

.r-0 {
  right: 0;
}

.r-100 {
  right: 25rem;
}

.r-2 {
  right: .5rem;
}

.r-4 {
  right: 1rem;
}

.r-auto {
  right: auto;
}

.r-b {
  resize: both;
}

.r-h {
  resize: horizontal;
}

.r-none {
  resize: none;
}

.r-v {
  resize: vertical;
}

.rg-10 {
  row-gap: 2.5rem;
}

.rg-4 {
  row-gap: 1rem;
}

.rg-8 {
  row-gap: 2rem;
}

.ro-15 {
  rotate: 75deg;
}

.ro-30 {
  rotate: 150deg;
}

.ro-45 {
  rotate: 225deg;
}

.ro-60 {
  rotate: 300deg;
}

.s-silver {
  stroke: #9ca3af;
}

.s-silver-4 {
  stroke: #c6cad1;
}

.s-silver-8 {
  stroke: #70757e;
}

.s-slate {
  stroke: #64748b;
}

.s\:\:bg-indigo::selection {
  background-color: #6366f1;
}

.s\:\:bg-indigo-4::selection {
  background-color: #a5a6f7;
}

.s\:\:c-white::selection {
  color: #fff;
}

.sb-auto {
  scroll-behavior: auto;
}

.sb-s {
  scroll-behavior: smooth;
}

.sm-6 {
  scroll-margin: 1.5rem;
}

.smb-6 {
  scroll-margin-bottom: 1.5rem;
}

.sml-6 {
  scroll-margin-left: 1.5rem;
}

.smr-6 {
  scroll-margin-right: 1.5rem;
}

.smt-6 {
  scroll-margin-top: 1.5rem;
}

.sp-6 {
  scroll-padding: 1.5rem;
}

.spb-6 {
  scroll-padding-bottom: 1.5rem;
}

.spl-6 {
  scroll-padding-left: 1.5rem;
}

.spr-6 {
  scroll-padding-right: 1.5rem;
}

.spt-20 {
  scroll-padding-top: 5rem;
}

.spt-6 {
  scroll-padding-top: 1.5rem;
}

.ssa-c {
  scroll-snap-align: center;
}

.ssa-e {
  scroll-snap-align: end;
}

.ssa-none {
  scroll-snap-align: none;
}

.ssa-s {
  scroll-snap-align: start;
}

.sss-a {
  scroll-snap-stop: always;
}

.sss-n {
  scroll-snap-stop: normal;
}

.sst-b-m {
  scroll-snap-type: both mandatory;
}

.sst-none {
  scroll-snap-type: none;
}

.sst-x-m {
  scroll-snap-type: x mandatory;
}

.sst-x-p {
  scroll-snap-type: x proximity;
}

.sst-y-m {
  scroll-snap-type: y mandatory;
}

.sst-y-p {
  scroll-snap-type: y proximity;
}

.sw-1 {
  stroke-width: 1px;
}

.sw-2 {
  stroke-width: .2px;
}

.sw-6 {
  stroke-width: .6px;
}

.t-0 {
  top: 0;
}

.t-100 {
  top: 25rem;
}

.t-14 {
  top: 3.5rem;
}

.t-2 {
  top: .5rem;
}

.t-20 {
  top: 5rem;
}

.t-24 {
  top: 6rem;
}

.t-26 {
  top: 6.5rem;
}

.t-4 {
  top: 1rem;
}

.t-8 {
  top: 2rem;
}

.t-half {
  top: 50%;
}

.t-o-b {
  transform-origin: bottom;
}

.t-o-bl {
  transform-origin: 0 100%;
}

.t-o-br {
  transform-origin: 100% 100%;
}

.t-o-c {
  transform-origin: center;
}

.t-o-l {
  transform-origin: 0;
}

.t-o-r {
  transform-origin: 100%;
}

.t-o-t {
  transform-origin: top;
}

.t-o-tl {
  transform-origin: 0 0;
}

.t-o-tr {
  transform-origin: 100% 0;
}

.t-s-70 {
  transform: scale(.7);
}

.t-s-80 {
  transform: scale(.8);
}

.t-s-90 {
  transform: scale(.9);
}

.t-sk-12 {
  transform: skew(12deg);
}

.t-sk-3 {
  transform: skew(3deg);
}

.t-sk-6 {
  transform: skew(6deg);
}

.t-skx-12 {
  transform: skewX(12deg);
}

.t-skx-3 {
  transform: skewX(3deg);
}

.t-skx-6 {
  transform: skewX(6deg);
}

.t-sky-12 {
  transform: skewY(12deg);
}

.t-sky-3 {
  transform: skewY(3deg);
}

.t-sky-6 {
  transform: skewY(6deg);
}

.t-sx-70 {
  transform: scaleX(70%);
}

.t-sx-80 {
  transform: scaleX(80%);
}

.t-sx-90 {
  transform: scaleX(90%);
}

.t-sy-70 {
  transform: scaleY(70%);
}

.t-sy-80 {
  transform: scaleY(80%);
}

.t-sy-90 {
  transform: scaleY(90%);
}

.ta-auto {
  touch-action: auto;
}

.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.ta-j {
  text-align: justify;
}

.ta-ja {
  text-align: justify-all;
}

.ta-l {
  text-align: left;
}

.ta-m {
  touch-action: manipulation;
}

.ta-mp {
  text-align: match-parent;
}

.ta-none {
  touch-action: none;
}

.ta-pr {
  touch-action: pan-right;
}

.ta-px {
  touch-action: pan-x;
}

.ta-py {
  touch-action: pan-y;
}

.ta-pz {
  touch-action: pinch-zoom;
}

.ta-r {
  text-align: right;
}

.ta-s {
  text-align: start;
}

.td-300 {
  transition-delay: .3s;
}

.td-500 {
  transition-delay: .5s;
}

.td-700 {
  transition-delay: .7s;
}

.td-none {
  text-decoration: none;
}

.td-u {
  text-decoration: underline;
}

.tdc-red {
  text-decoration-color: #e63946;
}

.tdc-yellow {
  text-decoration-color: #ffb81c;
}

.tdl-lt {
  text-decoration-line: line-through;
}

.tdl-none {
  text-decoration-line: none;
}

.tdl-o {
  text-decoration-line: overline;
}

.tdl-u {
  text-decoration-line: underline;
}

.tds-d {
  text-decoration-style: dashed;
}

.tds-s {
  text-decoration-style: solid;
}

.tds-w {
  text-decoration-style: wavy;
}

.tdt-0 {
  text-decoration-thickness: 0;
}

.tdt-1 {
  text-decoration-thickness: 1px;
}

.tdt-2 {
  text-decoration-thickness: 2px;
}

.tdt-3 {
  text-decoration-thickness: 3px;
}

.tdt-4 {
  text-decoration-thickness: 4px;
}

.tdt-auto {
  text-decoration-thickness: auto;
}

.tdt-ff {
  text-decoration-thickness: from-font;
}

.tdu-150 {
  transition-duration: .15s;
}

.tdu-300 {
  transition-duration: .3s;
}

.tdu-500 {
  transition-duration: .5s;
}

.tdu-700 {
  transition-duration: .7s;
}

.ti-0 {
  text-indent: 0;
}

.ti-1 {
  text-indent: 1px;
}

.ti-2 {
  text-indent: .25rem;
}

.ti-3 {
  text-indent: .5rem;
}

.ti-4 {
  text-indent: .75rem;
}

.tl-f {
  table-layout: fixed;
}

.to-c {
  text-overflow: clip;
}

.to-e {
  text-overflow: ellipsis;
}

.tp-a {
  transition-property: all;
}

.tp-bs {
  transition-property: box-shadow;
}

.tp-c {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
}

.tp-none {
  transition-property: none;
}

.tp-o {
  transition-property: opacity;
}

.tp-t {
  transition-property: transform;
}

.ts-2 {
  tab-size: 2;
}

.ts-4 {
  tab-size: 4;
}

.ts-8 {
  tab-size: 8;
}

.tt-c {
  text-transform: capitalize;
}

.tt-l {
  text-transform: lowercase;
}

.tt-u {
  text-transform: uppercase;
}

.ttf-io {
  transition-timing-function: ease-in-out;
}

.ttf-l {
  transition-timing-function: linear;
}

.tuo-0 {
  text-underline-offset: 0px;
}

.tuo-1 {
  text-underline-offset: 1px;
}

.tuo-2 {
  text-underline-offset: 2px;
}

.tuo-4 {
  text-underline-offset: 4px;
}

.tuo-8 {
  text-underline-offset: 8px;
}

.tuo-auto {
  text-underline-offset: auto;
}

.tw-b {
  text-wrap: balance;
}

.tw-n {
  text-wrap: nowrap;
}

.tw-p {
  text-wrap: pretty;
}

.tw-w {
  text-wrap: wrap;
}

.us-a {
  user-select: all;
}

.us-auto {
  user-select: auto;
}

.us-none {
  user-select: none;
}

.us-t {
  user-select: text;
}

.v-c {
  visibility: collapse;
}

.v-h {
  visibility: hidden;
}

.v-v {
  visibility: visible;
}

.va-b {
  vertical-align: bottom;
}

.va-ba {
  vertical-align: baseline;
}

.va-m {
  vertical-align: middle;
}

.va-s {
  vertical-align: sub;
}

.va-su {
  vertical-align: super;
}

.va-t {
  vertical-align: top;
}

.w-1 {
  width: .25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-22 {
  width: 5.5rem;
}

.w-28 {
  width: 7rem;
}

.w-3 {
  width: .75rem;
}

.w-32 {
  width: 8rem;
}

.w-35 {
  width: 8.75rem;
}

.w-48 {
  width: 12rem;
}

.w-56 {
  width: 14rem;
}

.w-6 {
  width: 1.5rem;
}

.w-60 {
  width: 15rem;
}

.w-64 {
  width: 16rem;
}

.w-72 {
  width: 18rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

.w-auto {
  width: auto;
}

.w-dvh {
  width: 100dvh;
}

.w-dvw {
  width: 100dvw;
}

.w-fc {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-px {
  width: 1px;
}

.w-s {
  width: stretch;
}

.w-vw {
  width: 100vw;
}

.wm-htb {
  writing-mode: horizontal-tb;
}

.wm-slr {
  writing-mode: sideways-lr;
}

.wm-srl {
  writing-mode: sideways-rl;
}

.wm-vlr {
  writing-mode: vertical-lr;
}

.wm-vrl {
  writing-mode: vertical-rl;
}

.ws-bs {
  white-space: break-spaces;
}

.ws-n {
  white-space: normal;
}

.ws-nw {
  white-space: nowrap;
}

.ws-p {
  white-space: pre;
}

.ws-pl {
  white-space: pre-line;
}

.ws-pw {
  white-space: pre-wrap;
}

.zi-0 {
  z-index: 0;
}

.zi-10 {
  z-index: 10;
}

.zi-20 {
  z-index: 20;
}

.zi-50 {
  z-index: 50;
}

.zi-90 {
  z-index: 90;
}

@media (pointer: coarse) {
  .pc\:p-6 {
    padding: 1.5rem;
  }
}

@media (width >= 40rem) {
  .sm\:d-32 {
    width: 8rem;
    height: 8rem;
  }

  .sm\:d-b {
    display: block;
  }

  .sm\:d-none {
    display: none;
  }

  .sm\:fd-r {
    flex-direction: row;
  }

  .sm\:g-2 {
    gap: .5rem;
  }

  .sm\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:pt-16 {
    padding-top: 4rem;
  }

  .sm\:ta-c {
    text-align: center;
  }

  .sm\:ta-l {
    text-align: left;
  }
}

@media (width >= 48rem) {
  .md\:ai-c {
    align-items: center;
  }

  .md\:bg-silver-1 {
    background-color: #eff0f2;
  }

  .md\:d-16 {
    width: 4rem;
    height: 4rem;
  }

  .md\:d-b {
    display: block;
  }

  .md\:d-f {
    display: flex;
  }

  .md\:d-none {
    display: none;
  }

  .md\:fd-r {
    flex-direction: row;
  }

  .md\:fs-6xl {
    font-size: 3.75rem;
  }

  .md\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:gtc-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:min-w-16 {
    min-width: 4rem;
  }

  .md\:w-auto {
    width: auto;
  }
}

@media (width >= 64rem) {
  .lg\:bf-b-md {
    backdrop-filter: blur(16px);
  }

  .lg\:d-b {
    display: block;
  }

  .lg\:d-f {
    display: flex;
  }

  .lg\:d-none {
    display: none;
  }

  .lg\:f-1 {
    flex: 1;
  }

  .lg\:fd-r {
    flex-direction: row;
  }

  .lg\:fs-0 {
    flex-shrink: 0;
  }

  .lg\:fs-5xl {
    font-size: 3rem;
  }

  .lg\:gc-s-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:gc-s-6 {
    grid-column: span 6 / span 6;
  }

  .lg\:gc-s-8 {
    grid-column: span 8 / span 8;
  }

  .lg\:gtc-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:gtc-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
  }

  .lg\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:h\:bg-indigo\/50:hover {
    background-color: #6366f180;
  }

  .lg\:h\:bg-red\/50:hover {
    background-color: #e6394680;
  }

  .lg\:h\:f\:bg-red\/25:hover:focus {
    background-color: #e6394640;
  }

  .lg\:pt-14 {
    padding-top: 3.5rem;
  }

  .lg\:px-4 {
    padding-inline: 1rem;
  }

  .lg\:py-2 {
    padding-block: .5rem;
  }

  .lg\:w-64 {
    width: 16rem;
  }
}

@media (width >= 80rem) {
  .xl\:d-b {
    display: block;
  }

  .xl\:d-none {
    display: none;
  }
}

@media (width >= 96rem) {
  .xxl\:d-b {
    display: block;
  }
}
