---
export interface Props {
  name: string;
}

let data = [];
try {
  const response = await fetch(
    `https://api.yummacss.com/api/${Astro.props.name}`
  );
  data = await response.json();
} catch (err) {
  console.error("Failed to fetch data:", err);
}
---

<div class="max-h-90 ovf-y-auto mb-5">
  <table>
    <thead>
      <tr>
        <th class="fs-b fw-600">Class</th>
        <th class="fs-b fw-600">Properties</th>
      </tr>
    </thead>
    <tbody>
      {
        data.length > 0 ? (
          data.map((item: { util: string; prop: string[] }) => (
            <tr>
              <td class="ff-m fs-xs">
                <p class="class">{item.util}</p>
              </td>
              <td class="ff-b fs-xs">
                <code
                  class="property"
                  style="background-color: transparent !important;">
                  {item.prop.join(" ")}
                </code>
              </td>
            </tr>
          ))
        ) : (
          <tr>
            <td colspan="2">No data found</td>
          </tr>
        )
      }
    </tbody>
  </table>
</div>

<style>
  .class {
    color: light-dark(var(--sl-color-accent), var(--sl-color-accent-high));
  }

  .property {
    color: light-dark(var(--sl-color-white), var(--sl-color-accent-high));
  }
</style>
