---
export interface Props {
  name: string;
}

let data = [];
try {
  const response = await fetch(`https://api.yummacss.com/api/styles/${Astro.props.name}`);
  data = await response.json();
} catch (err) {
  console.error("Failed to fetch data:", err);
}
---

<div class="max-h-90 o-y-auto mb-5">
  <table>
    <thead>
      <tr>
        <th class="fs-b fw-600">Utility</th>
        <th class="fs-b fw-600">Properties</th>
      </tr>
    </thead>
    <tbody>
      {
        data.length > 0 ? (
          data.map((item: { utility: string; property: string[] }) => (
            <tr>
              <td>
                <p class="fs-sm">{item.utility}</p>
              </td>
              <td>
                <code class="prop" style="background-color: transparent !important;">
                  {item.property.join(" ")}
                </code>
              </td>
            </tr>
          ))
        ) : (
          <tr>
            <td colspan="2">No data found</td>
          </tr>
        )
      }
    </tbody>
  </table>
</div>
