---
import { Code, LinkButton } from "@astrojs/starlight/components";
---

<div class="mt-26">
  <img class="dim-28" src="/logo.png" alt="A colorful indigo logo" />
  <div class="d-g gtc-2">
    <div class="...">
      <div class="...">
        <h1 class="fs-xl lh-2">Build your next design system <span style="color: light-dark(var(--sl-color-accent), var(--sl-color-accent-high))">faster</span></h1>
        <div class="fs-sm">All the styles you need in an abbreviated way. Bye inline-styles 👋</div>
      </div>

      <div class="cg-6 d-f mt-8">
        <LinkButton icon="right-caret" href="/docs/installation/" variant="primary">Get started</LinkButton>

        <LinkButton icon="right-caret" href="/docs/installation/" variant="minimal">Preview what's next</LinkButton>
      </div>
    </div>

    <div class="...">
      <!-- TODO -->
    </div>
  </div>
</div>
