---
import { icons, type IconName } from "../icons";

interface MessageProps {
  icon: IconName;
}

const { icon } = Astro.props as MessageProps;
---

<div class="ai-fs d-f g-2">
  <span set:html={icons[icon]} style="color: light-dark(var(--sl-color-accent), var(--sl-color-gray-3));" />
  <span>
    <slot />
  </span>
</div>
