---
import type { Props } from "@astrojs/starlight/props";

const { title, description } = Astro.props.entry.data;
---

<Fragment>
  <h1 id="_top">{title}</h1>
  {
    description && (
      <p class="description lh-4 mt-2" style="color: var(--sl-color-text);">
        {description}
      </p>
    )
  }
</Fragment>
