<div class="d-f fd-c not-content">
  <div class="light-container p-4">
    <div>
      <slot name="example" />
    </div>
  </div>
  <slot name="code" />
</div>

<style>
  .light-container {
    background: #fcfcfe;
    border: 1px solid light-dark(var(--sl-color-gray-6), var(--ec-brdCol));
    border-bottom: none;
  }
</style>
