---
import { Tabs, TabItem } from "@astrojs/starlight/components";
---

<div class="not-content">
  <Tabs>
    <TabItem label="Preview">
      <div class="container p-10">
        <div>
          <slot name="example" />
        </div>
      </div>
    </TabItem>
    <TabItem label="Code">
      <slot name="code" />
    </TabItem>
  </Tabs>
</div>