---
import { Tabs, TabItem } from "@astrojs/starlight/components";
import { Panel, PanelGroup, PanelResizeHandle } from "react-resizable-panels";
---

<div class="not-content">
  <Tabs>
    <TabItem label="Preview">
      <div class="ai-c container d-f jc-c p-10">
        <div>
          <slot name="example" />
        </div>
      </div>
    </TabItem>
    <TabItem label="Code">
      <slot name="code" />
    </TabItem>
  </Tabs>
</div>
